div#background-img{
	top: 0px;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-repeat: no-repeat;
	z-index: 0;
}
a{
	text-decoration: none;
	color: blue;
}
.con-center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.btn-h{
	cursor: pointer;
	margin: 10px;
	padding: 10px;
	border: 3px solid #fff;
	border-radius: 5px;
	background: none;
	font-weight: bolder;
	color: #fff;
	font-size: 12px;
}
.div-login{
	text-align: center;
	padding: 20px;
	color: #fff;
	border: 5px solid #fff;
	border-radius: 5px;
	background: rgba(0,0,0,0.4);
}
input[type="text"],input[type="password"],textarea{
	background: none;
	outline: none;
	color: ##ccc;
	border: none;
	padding: 10px;
	margin: 10px;
	border-bottom: 2px solid #ccc;
}
input[type="email"],textarea{
	background: none;
	outline: none;
	color: ##ccc;
	border: none;
	padding: 10px;
	margin: 10px;
	border-bottom: 2px solid #ccc;
}
input[type="number"],textarea{
	background: none;
	outline: none;
	color: ##ccc;
	border: none;
	padding: 10px;
	margin: 10px;
	border-bottom: 2px solid #ccc;
	}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

body {
  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 2rem;
  letter-spacing: 0.01rem;
  color: #212121;
  background-color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: 0;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: blue;
}

.activ {
	background-color: orange;
}
.actives {
	background-color: lightgreen;
}

.acti {
	background-color: green;
}
